createdAt: "2019-02-07T10:50:09.675Z"
updatedAt: "2019-02-07T10:50:09.675Z"
type: "MARKDOWN_NOTE"
folder: "a5a2c458655f1f5a9658"
title: "Git in a shot! copy"
content: '''
  # Git in a shot!
  ## Click here to edit markdown :wave:
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/L0qNPLsvmyM" frameborder="0" allowfullscreen></iframe>
  
  ## Docs :memo:
  - [Boostnote | Boost your happiness, productivity and creativity.](https://hackernoon.com/boostnote-boost-your-happiness-productivity-and-creativity-315034efeebe)
  - [Cloud Syncing & Backups](https://github.com/BoostIO/Boostnote/wiki/Cloud-Syncing-and-Backup)
  - [How to sync your data across Desktop and Mobile apps](https://github.com/BoostIO/Boostnote/wiki/Sync-Data-Across-Desktop-and-Mobile-apps)
  - [Convert data from **Evernote** to Boostnote.](https://github.com/BoostIO/Boostnote/wiki/Evernote)
  - [Keyboard Shortcuts](https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts)
  - [Keymaps in Editor mode](https://github.com/BoostIO/Boostnote/wiki/Keymaps-in-Editor-mode)
  - [How to set syntax highlight in Snippet note](https://github.com/BoostIO/Boostnote/wiki/Syntax-Highlighting)
  
  ---
  
  ## Article Archive :books:
  - [Reddit English](http://bit.ly/2mOJPu7)
  - [Reddit Spanish](https://www.reddit.com/r/boostnote_es/)
  - [Reddit Chinese](https://www.reddit.com/r/boostnote_cn/)
  - [Reddit Japanese](https://www.reddit.com/r/boostnote_jp/)
  
  ---
  
  ## Community :beers:
  - [GitHub](http://bit.ly/2AWWzkD)
  - [Twitter](http://bit.ly/2z8BUJZ)
  - [Facebook Group](http://bit.ly/2jcca8t)
'''
tags: []
isStarred: false
isTrashed: false
