createdAt: "2019-01-19T18:16:30.610Z"
updatedAt: "2019-02-07T11:13:45.748Z"
type: "MARKDOWN_NOTE"
folder: "662231a58309f5243830"
title: "Git in a shot!"
content: '''
  # Git in a shot!
  
  ## Working with forks
  
  ### Making a fork
  
  TODO: you can use Github.
  
  ### Add the upstream as a remote repo
  
  ```
  git remote add upstream <repo_url>
  
  git remote -v
  ```
  
  ### Fetch and pull from upstream
  
  ```
  git fetch upstream
  git checkout -b feature/myStuff
  git pull upstream feature/myStuff
  ```
  
  ### Fetch and merge from upstream
  
  ```
  git fetch upstream
  git checkout -b develop
  git merge upstream/feature/myStuff
  ```
  
  ### Make a local branch to follow **origin** branch
  
  ```
  git branch --set-upstream-to=origin/feature/myStuff feature/myStuff
  git pull
  ```
  
  
  ## Docs :memo:
  - [Boostnote | Boost your happiness, productivity and creativity.](https://hackernoon.com/boostnote-boost-your-happiness-productivity-and-creativity-315034efeebe)
  - [Cloud Syncing & Backups](https://github.com/BoostIO/Boostnote/wiki/Cloud-Syncing-and-Backup)
  - [How to sync your data across Desktop and Mobile apps](https://github.com/BoostIO/Boostnote/wiki/Sync-Data-Across-Desktop-and-Mobile-apps)
  - [Convert data from **Evernote** to Boostnote.](https://github.com/BoostIO/Boostnote/wiki/Evernote)
  - [Keyboard Shortcuts](https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts)
  - [Keymaps in Editor mode](https://github.com/BoostIO/Boostnote/wiki/Keymaps-in-Editor-mode)
  - [How to set syntax highlight in Snippet note](https://github.com/BoostIO/Boostnote/wiki/Syntax-Highlighting)
  
  
  ---
  
  ## Community :beers:
  - [GitHub](http://bit.ly/2AWWzkD)
  - [Twitter](http://bit.ly/2z8BUJZ)
  - [Facebook Group](http://bit.ly/2jcca8t)
'''
tags: [
  "git"
  "cheatsheet"
]
isStarred: false
isTrashed: false
