createdAt: "2019-08-16T11:03:37.009Z"
updatedAt: "2019-09-12T16:48:44.585Z"
type: "MARKDOWN_NOTE"
folder: "c8d2923523c9aebed262"
title: "Normas básicas de la asignatura"
tags: []
content: '''
  # Normas básicas de la asignatura
  
  ## Horario de clase
  
  `TODO`
  
  ## Método de calificación
  
  El peso de las partes que componen la calificación final aún está por decidirse, pero a modo aproximado se divide en:
  
  ```text
  10% - 20%   --> Comportamiento y actitud en clase.
  60%         --> Trabajos y prácticas de evaluación continua.
  20% - 30%   --> Proyecto final.
  ```
  
  ## Convivencia en el aula
  
  - Hay que intentar respetar los horarios de entrada y salida de clase. Si por cualquier motivo, alguien tiene que salir o entrar cuando estemos en clase, lo hará con prudencia y en silencio.
  - No hablaremos cuando otro compañero esté preguntando o explicando algo.
  - De igual forma, no hablaremos cuando el profesor esté explicando o respondiendo alguna duda.
  - Por supuesto, podéis interrumpir en cualquier momento una explicación para preguntar o comentar algo. Para ello, levantaremos la mano, y el profesor cederá la palabra tan pronto como pueda.
  - Cuando se hacen prácticas o ejercicios en clase, es normal hablar un poco con los compañeros, pero debemos mantener un volumen de voz bajo.
  - `Teléfono móvil`: no se permite el uso de teléfonos en clase. Los teléfonos se guardarán en la mochila o en el bolsillo, y tendrán _**el sonido desactivado**_.
  - `Redes sociales`: no se permite el uso de redes sociales personales en clase.
  
  Si estas normas de convivencia son transguedidas, el profesor puede expulsar al alumno de clase, perdiendo la asistencia ese día, y reflejándose en la calificación final del alumno.
  
  ## Herramientas básicas para la asignatura
  
  Estas son algunas de las herramientas recomendadas para seguir la asignatura. Son herramientas típicamente usadas por administradores de sistemas y programadores. En la asignatura usaremos principalemte software con licencias libres. La mayoría del software libre que usaremos es además gratuito, y podemos descargarlo de internet para usarlo.
  
  Algunas de estas herramientas están disponibles sólo para sistemas Windows. Preguntadnos si queréis saber alternativas para sistemas Linux u OSX.
  
  [VirtualBox](https://www.virtualbox.com) - VirtualBox es un software de virtualización para arquitecturas x86/amd64, desarrollado por Oracle.
  
  [CentOS](https://www.centos.org) - CentOS es una distribución Linux basada en la distribución Red Hat Enterprise Linux RHEL, compilada por voluntarios a partir del código fuente publicado por Red Hat, siendo la principal diferencia con este la eliminación de todas las referencias a las marcas y logos propiedad de Red Hat. 
  
  [Notepad++](https://notepad-plus-plus.org) - Notepad++ es un editor de texto y de código fuente libre con soporte para varios lenguajes de programación.
  
  Además de estas herramientas, dentro de la distribución **CentOS** usaremos muchas otras herramientas, pero para instalarlas y usarlas, típicamente seguiremos las instrucciones para dicha distribución.
  
  ### Otras herramientas útiles
  
  [Git](https://git-scm.com) - Git es un software de control de versiones, pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones cuando éstas tienen un gran número de archivos de código fuente.
  
  [Visual Studio Code](https://code.visualstudio.com) - Visual Studio Code es un editor de código fuente desarrollado por Microsoft para Windows, Linux y macOS. Incluye soporte para la depuración, control integrado de Git, resaltado de sintaxis, finalización inteligente de código, fragmentos y refactorización de código.
  
  [Boostnote](https://boostnote.io) - Boostnote es un software para tomar notas y generar documentación. Esta documentación se escribe en formato [Markdown](https://es.wikipedia.org/wiki/Markdown), y en general está orientada a programadores.
  
  [Meld](https://meldmerge.org) - Meld es una herramienta visual que permite comparar el contenido de ficheros y directorios (herramienta de "diff & merge"), orientada a programadores.
  
  [Cmder](https://cmder.net) - Cmdr es un emulador de consola para sistemas Windows.
  
  [7-Zip](https://www.7-zip.org) - 7-Zip es un archivador de ficheros libre, que por defecto utiliza el formato de archivo 7z, también libre.
  
  [OBS (Open Broadcaster Software)](https://obsproject.com) - Open Broadcaster Software es una aplicación libre para la grabación y transmisión de vídeo (*streaming*).
  
  
  
  
'''
isStarred: false
isTrashed: false
linesHighlighted: []
